extends layout
block content
  script(src="/js/parsley.js")
  div(class="container")
    div(class="col-md-6")
      table(class="table")
        tr
          th Time
          th Latitude
          th Longitude
        each position in positions
          tr
            td #{position.time}
            td #{position.lat}
            td #{position.long}
    div(class="col-md-6")
      img(src="https://maps.googleapis.com/maps/api/staticmap?center=#{positions[0].lat},#{positions[0].long}&zoom=15&size=400x400#{markerString}&key=AIzaSyB2_DlPkTUMRyzbPn-8VZMiKpfJpJ2wbBA")